body{
    margin-left: 20px;
    background-color: blueviolet;
}
.chat{
    background-color: aliceblue;
    display:inline-block;
    border-radius:20px;
    padding:20px;
    height:300px;
    width:300px;
}
.msg{
    background-color: dodgerblue;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}